# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Git
/.git

# Dev env (visual studio code)
/.vscode/

# Google API Required Files
/clientSecretGoogle.json
/credentialsGCalendar.json
/credentialsGmail.json
/userCredentialsGoogle.json

# Local Storage
/data.json
